#bsl_sect {
  .center_sect {
    min-height: 75vh;
    &.dashboard {
      max-width: 1300px;
    }

    .bsl_header {
      @include flexDisplay(center, space-between);

      h1 {
        padding: 10px 0;
        font-size: $txt_size4;
        font-family: $fnt_hdg1;
      }

      .sort_by_opt {
        margin-left: 10px;
        text-transform: capitalize;
        font-size: $txt_size2;
        font-family: $fnt_hdg1;
        color: var(--txt_clr1);
        opacity: 0.5;

        &:hover:not(&.active) {
          opacity: 0.8;
        }

        &.active {
          font-weight: 500;
          color: var(--txt_clr3);
          opacity: 1;
        }
      }
    }

    .bsl_nav {
      @include flexDisplay(center, center);
      @include mediaQueries(min, 800px) {
        display: none;
      }

      .nav_opt {
        margin: 0 5px;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.5rem;
        font-family: $fnt_spc2;
        color: var(--txt_clr1);
        border: 2px solid var(--brd_clr);
        text-decoration: underline;

        &.active {
          background-color: var(--bg_clr3);
          color: var(--acc_clr);
          pointer-events: none;
          text-decoration: none;
        }
      }
    }

    .bsl_boxes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 10px 0;
      grid-gap: 10px;
      @include mediaQueries(min, 800px) {
        grid-template-columns: repeat(4, 1fr);
      }

      .bsl_box {
        background-color: var(--bg_clr3);
        border-radius: 5px;
        @include flexDisplay(flex-start, center, column);
        padding: 15px;
        font-size: 1.5rem;
        border: 2px solid var(--brd_clr);

        &:last-of-type {
          align-items: flex-end;
          @include mediaQueries(min, 800px) {
            grid-column: 4 / span 1;
          }
        }

        .count {
          margin-bottom: 5px;
          font-size: $txt_size4;
          font-weight: bold;
        }
      }
    }

    .bsl_main {
      @include mediaQueries(min, 800px) {
        display: grid;
        grid-template-columns: 250px 1fr;
        align-items: flex-start;
        grid-gap: 10px;
      }
      .side_bsl_nav_wrapper {
        display: none;
        @include mediaQueries(min, 800px) {
          @include flexDisplay(flex-start, flex-start, column);
          position: sticky;
          top: 74.16px;

          .side_bsl_nav {
            padding: 10px;
            width: 100%;
            font-size: 1.5rem;
            font-family: $fnt_spc2;
            color: var(--txt_clr1);
            @include flexDisplay(center, space-between);

            &:hover {
              color: var(--acc_clr);
              background-color: var(--acc_clr_shd);
            }

            &:first-of-type {
              border-radius: 5px 5px 0 0;
            }

            &:last-of-type {
              border-radius: 0 0 5px 5px;
            }

            &.active {
              background-color: var(--bg_clr3);
              color: var(--acc_clr);
              pointer-events: none;
              text-decoration: none;
              font-weight: bold;
              color: var(--txt_clr3);
              border-radius: 5px;
            }
          }
        }
      }

      .user_posts {
        background-color: var(--bg_clr3);
        margin-bottom: 10px;
        border-radius: 5px;
        border: 2px solid var(--brd_clr);
        @include mediaQueries(min, 800px) {
          margin: 0;
        }

        .user_post {
          @include flexDisplay(flex-start, center, column);
          border-bottom: 1px solid var(--brd_clr);
          padding: 15px;
          transition: all ease $vfast_trans;
          font-size: 1.5rem;
          color: var(--txt_clr1);
          @include mediaQueries(min, 900px) {
            @include flexDisplay(center, space-between);
          }

          .left_sect {
            @include flexDisplay(flex-start, center, column);
            margin-bottom: 10px;
            @include mediaQueries(min, 900px) {
              width: 45%;
            }

            a {
              color: var(--acc_clr);
              font-size: $txt_size4;
              font-weight: bold;
              font-family: $fnt_hdg2;
              letter-spacing: 0.1rem;
            }

            .pub_details {
              span {
                font-weight: bold;
              }
            }
          }

          .right_sect {
            @include flexDisplay(center, space-between);
            width: 100%;
            @include mediaQueries(min, 900px) {
              width: 55%;
            }

            .icons_info_wrapper {
              @include flexDisplay(center, flex-start);

              .icon_info {
                @include flexDisplay(center, center);
                margin-right: 15px;

                .icon_wrapper {
                  margin-right: 5px;
                  font-size: $txt_size2;
                }
              }
            }

            .pub_draft {
              background-color: var(--spc_clr2);
              color: $dft_clr;
              padding: 5px;
              border-radius: 5px;
            }

            .btns_wrapper {
              .post_btn {
                margin: 0 7px;
                color: var(--txt_clr1);
                font-family: $fnt_spc2;
                padding: 5px;
                border-radius: 5px;

                &:hover {
                  background-color: var(--bg_clr2);
                }
              }

              .del_btn {
                color: $dlt_clr;
              }
            }
          }

          &:last-of-type {
            border: none;
          }

          &:hover {
            background-color: var(--bg_clr1);
          }
        }
      }

      .follows_sect {
        margin: 10px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
        @include mediaQueries(min, 800px) {
          margin: 0;
        }

        .card_wrapper {
          @include flexDisplay(center, flex-start);
          background-color: var(--bg_clr3);
          padding: 10px;
          border-radius: 5px;
          border: 2px solid var(--brd_clr);

          .img_wrapper {
            width: 50px;
            border-radius: 50%;
            padding: 1px;
            background-color: var(--txt_clr3);
            margin-right: 15px;

            img {
              border-radius: 50%;
            }
          }

          .user_name {
            font-size: $txt_size2;
            color: var(--acc_clr);
          }
        }

        .card_wrapper.dummy {
          span {
            background-color: var(--bg_clr2);
            animation: bgAnim 1s ease-in-out infinite;
          }

          .img_wrapper {
            height: 5rem;
          }

          .user_name {
            width: 15rem;
            height: 10px;
            border-radius: 2px;
          }
        }
      }

      .bookmark_sect {
        a {
          display: inline-block;
        }

        .card_wrapper {
          @include flexDisplay(flex-start, flex-start);
          gap: 20px;
          background-color: var(--bg_clr3);
          margin-bottom: 10px;
          border-radius: 5px;
          padding: 20px;
          border: 2px solid var(--brd_clr);

          .img_wrapper {
            padding: 1px;
            background-color: var(--txt_clr3);
            border-radius: 50%;
            height: 4rem;
            width: 4rem;

            img {
              border-radius: inherit;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: 0 0.1px;
            }
          }

          .post_side {
            .title:hover,
            .author:hover {
              color: var(--acc_clr) !important;
            }

            .title {
              font-family: $fnt_hdg1;
              font-size: 2.5rem;
              color: var(--txt_clr2);
              margin-bottom: 5px;
              font-weight: 600;
            }

            .bottom {
              @include flexDisplay(center, flex-start);
              gap: 20px;

              @include mediaQueries(max, 500px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
              }

              .author {
                font-size: 1.5rem;
                color: var(--txt_clr2);
                font-family: $fnt_hdg1;
              }

              .date_wrapper {
                font-size: 1.5rem;
                font-style: italic;
                color: var(--txt_clr1);
                font-weight: 400;
              }

              .categ_wrapper {
                @include flexDisplay(flex-start, flex-start);
                gap: 5px;
                @include mediaQueries(max, 500px) {
                  grid-column: span 2;
                }

                .category {
                  @include category;
                }
              }
            }
          }

          &.dummy {
            background-color: var(--bg_clr3);

            .img_wrapper {
              background-color: var(--bg_clr2);
            }

            .post_side {
              width: 100%;

              .title {
                width: 35%;
                height: 20px;
                background-color: var(--bg_clr2);
                display: block;
                border-radius: 5px;
              }

              .author,
              .date_wrapper {
                width: 10%;
                height: 10px;
                border-radius: 2px;
                background-color: var(--bg_clr2);
                @include mediaQueries(max, 500px) {
                  width: 25%;
                }
              }

              .date_wrapper {
                width: 7%;

                @include mediaQueries(max, 500px) {
                  width: 25%;
                }
              }
            }
          }
        }

        .load_more_btn {
          max-width: 200px;
          border: 1px solid var(--txt_clr1);
          margin: 10px auto;
          display: block;
          color: var(--txt_clr1);
          padding: 10px 25px;
          border-radius: 5px;
          font-family: $fnt_spc1;
          transition: all ease $vfast_trans;

          &:hover {
            color: var(--txt_clr3);
            border-color: var(--txt_clr3);
          }
        }
      }
    }

    .search_wrapper {
      margin-bottom: 10px;
      @include mediaQueries(max, 800px) {
        display: none;
      }
    }
  }

  .skeleton_anim {
    animation: bgAnim2 1s ease-in-out infinite;
  }

  .skeleton_anim2 {
    animation: bgAnim 1s ease-in-out infinite;
  }
}
