// @import 'config';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: $fnt_def;
}

:focus {
  outline: none;
}

:root {
  font-size: 10px;
  @include mediaQueries(max, 400px) {
    font-size: 8px;
  }
}

// TODO Change styles later
.tab :focus {
  outline: 2px solid tomato;
}

body {
  background-color: var(--bg_clr2);
  font-size: $txt_size1;
  color: var(--txt_clr3);
  transition: all ease $fast_trans;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

a {
  text-decoration: none;
  transition: all ease $fast_trans;
  font-size: inherit;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
}

.center_sect {
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  height: auto;
  width: 100%;
  display: block;
  background-color: var(--bg_clr2);
}

.img_wrapper {
  display: block;
  position: relative;
  overflow: hidden;
}

.dark .img_wrapper:after {
  @include position(absolute, left, top, 0px, 0px);
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}

.spc_btn {
  background-color: var(--acc_clr);
  color: #fff;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: $fnt_spc2;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

button.disable {
  opacity: 0.5;
  cursor: not-allowed;
}
