@import 'config';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: $fnt_def;
}

:focus {
  outline: none;
}

:root {
  font-size: 10px;
  @include mediaQueries(max, 350px) {
    font-size: 8px;
  }
}

// TODO Change styles later
.tab :focus {
  outline: 2px solid tomato;
}

body {
  background-color: var(--bg_clr1);
  font-size: $txt_size1;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
}

.center_sect {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.img_wrapper {
  position: relative;
  overflow: hidden;
}

.dark .img_wrapper:after {
  @include position(absolute, left, top, 0px, 0px);
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}
