@mixin skeletonTemp($width, $height, $radius) {
  max-width: $width;
  height: $height;
  border-radius: $radius;
  background-color: var(--bg_clr2);
}

#home_sect {
  padding: 10px 0;

  .home_wrapper {
    @include flexDisplay(stretch, space-between);
    position: relative;

    .left_side:not(.author_info_bottom .left_side) {
      @include displayHide;
      @include mediaQueries(min, 800px) {
        display: block;
        flex-basis: 22%;
        align-self: flex-start;
        position: sticky;
        top: 74px;
      }

      .not_logged_sect {
        @include notLoggedSect();
      }

      .side_nav_opts {
        margin-bottom: 50px;

        .side_nav_opt {
          font-size: $txt_size2;
        }
      }

      .side_nav_socials {
        // text-align: center;

        .side_nav_social {
          font-size: $txt_size2;
          margin: 0 2px;
        }
      }
    }
  }
}

@keyframes bgAnim {
  0% {
    background-color: var(--bg_clr2);
  }
  50% {
    background-color: var(--bg_clr1);
  }
}

@keyframes bgAnim2 {
  0% {
    background-color: var(--bg_clr3);
  }
  50% {
    background-color: var(--bg_clr1);
  }
}

@keyframes bgAnim3 {
  0% {
    background-color: var(--bg_clr2);
  }
  50% {
    background-color: var(--bg_clr1);
  }
}
