@import 'config';

$acc_clr: var(--acc_clr);

nav {
  background-color: var(--bg_clr3);
  padding: 5px 0;
  box-shadow: 0 0 1px 2px var(--brd_clr);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;

  .center_sect {
    @include flexDisplay(center, space-between);
  }

  .left_side {
    @include flexDisplay(center, flex-start);
    .menu_btn {
      @include navBtnsGen;
      @include flexDisplay(center, center);

      &:hover {
        @include navHover();
      }

      @include mediaQueries(min, 800px) {
        @include displayHide;
      }
    }

    .home_btn {
      font-size: $icn_size;
      font-family: $fnt_spc2;
      background-color: #000;
      color: #fff;
      padding: 5px;
      border-radius: 10px;
    }

    .search_wrapper {
      @include displayHide;

      @include mediaQueries(min, 800px) {
        display: block;
        position: relative;
        margin-left: 15px;
        overflow: hidden;
      }

      input {
        border-radius: 8px;
        border: 1.5px solid var(--brd_clr);
        padding: 10px;
        width: 400px;
        font-family: $fnt_spc2;
        transition: all ease $fast_trans;
        color: var(--txt_clr3);

        &:focus {
          border-color: var(--acc_clr);
        }
      }

      .search_btn {
        @include position(absolute, right, top, 0px, 0px);
        @include flexDisplay(center, center);
        height: 100%;
        width: 10%;
        border-radius: 8px;
        color: var(--txt_clr2);
        font-size: $icn_size;
        transition: all ease $fast_trans;

        &:hover {
          @include navHover();
        }
      }
    }
  }

  .right_side {
    @include flexDisplay(center, flex-end);

    .create_post_btn,
    .login_btn {
      @include displayHide;
    }

    .create_post_btn {
      @include mediaQueries(min, 800px) {
        display: block;
        margin-right: 10px;
      }
    }

    .theme_btn {
      @include navBtnsGen;

      .light {
        color: #dddd26;
      }

      &:hover {
        background-color: var(--acc_clr_shd);
      }
    }

    .login_btn {
      @include mediaQueries(min, 800px) {
        display: block;
        margin-right: 10px;
        color: var(--txt_clr2);
        transition: all ease $vfast_trans;
        font-size: $txt_size2;
        padding: 10px;
        border-radius: 5px;
        font-weight: 300;

        &:hover {
          @include navHover();
        }
      }
    }

    .create_btn {
      border: 1px solid var(--acc_clr);
      padding: 10px;
      border-radius: 8px;
      color: var(--acc_clr);
      font-size: $txt_size2;
      font-weight: 300;
      transition: all ease $vfast_trans;

      &:hover {
        text-decoration: underline;
        background-color: var(--acc_clr);
        color: #fff;
      }
    }

    .search_btn,
    .notification_btn {
      @include navBtnsGen;

      &:hover,
      &.active:hover {
        @include navHover();
      }

      &.active {
        background-color: var(--spc_clr);
      }
    }

    .search_btn {
      @include mediaQueries(min, 800px) {
        @include displayHide;
      }
    }

    .profile_opts_btn {
      transition: all ease $fast_trans;
      padding: 5px;
      border-radius: 50%;

      &:hover {
        background-color: var(--acc_clr_shd);
      }

      .img_wrapper {
        border-radius: 50%;

        img {
          width: 40px;
        }
      }
    }
  }

  .drop_down {
    @include position(absolute, right, bottom, 50%, -260px);
    width: 95%;
    background-color: var(--bg_clr3);
    border: 1.5px solid var(--brd_clr);
    // box-shadow: 0 3px 5px 2px var(--brd_clr);
    border-radius: 5px;
    padding: 0 10px;
    transition: all ease $mid_trans;
    transform: translate(50%, 0) scale(0);
    transform-origin: 100% 0;
    @include opacityHide;

    &.active {
      @include opacityShow;
      transform: translate(50%, 0) scale(1);
    }

    @include mediaQueries(min, 700px) {
      width: 300px;
      right: 10px;
      transform: translate(0, 0) scale(0);

      &.active {
        transform: translate(0, 0) scale(1);
      }
    }

    article {
      padding: 10px 0;
      @include flexDisplay(flex-start, center, column);

      &.mid {
        border-bottom: 1.5px solid var(--brd_clr);
        border-top: 1.5px solid var(--brd_clr);
      }

      .drop_down_links {
        width: 100%;
        padding: 10px 15px;
        font-size: $txt_size2;
        color: var(--txt_clr2);
        text-align: left;
        border-radius: 5px;
        font-family: $fnt_spc1;
        font-weight: 300;
        transition: all ease $fast_trans;

        &:hover {
          @include navHover();
        }
      }
    }
  }
}
