$maxWidth: 820px;

#editor_sect {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background-color: var(--bg_clr2);
  overflow-y: auto;

  button:not(.action_btn) {
    padding: 10px 20px;
    border-radius: 7px;
    font-size: $txt_size2;
    font-family: $fnt_spc1;
  }

  button:not(.action_btn, .publish_btn, .change_img_btn):hover {
    background-color: var(--acc_clr_shd);
    color: var(--acc_clr2);
  }

  .editor_nav {
    margin: auto;
    max-width: $maxWidth;
    padding: 10px 15px;
    @include flexDisplay(center, space-between);

    button.active {
      font-weight: bold;
      pointer-events: none;
    }
  }

  .center_sect {
    max-width: $maxWidth;
    // height: 75%;

    .center_content {
      background-color: var(--bg_clr3);
      min-height: 75vh;
      // padding: 10px 0 0;
      border: 2px solid var(--brd_clr);
      border-radius: 10px;

      .editor_head {
        padding: 10px 10px 0;

        .add_banner_btn,
        .change_img_btn {
          border: 2px solid var(--brd_clr);
          padding: 10px 20px;
          display: inline-block;
          border-radius: 10px;
          font-size: $txt_size2;
          color: var(--txt_clr1);
          cursor: pointer;
        }

        .upload_progress {
          width: fit-content;
          padding: 5px;
          font-size: $txt_size2;
          position: relative;
          overflow: hidden;
          border-radius: 10px 0 0 0;

          span {
            @include position(absolute, left, top, 0px, 0px);
            width: 0;
            height: 100%;
            background-color: var(--spc_clr2);
            opacity: 0.4;
          }
        }

        .remove_img_btn {
          color: $dlt_clr;
          margin-left: 10px;
        }

        .img_btns {
          margin-top: 10px;
        }

        .img_wrapper {
          border-radius: 10px 10px 0 0;
        }

        .post_title {
          margin: 15px 0;
          color: var(--txt_clr2);
          font-size: 4rem;
          font-family: $fnt_hdg1;
          width: 100%;
          font-weight: 700;
          scrollbar-width: none;

          &::-webkit-scrollbar {
            width: 0;
          }
        }
      }

      .action_btns_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
        grid-auto-rows: 40px;
        background-color: var(--bg_clr2);
        padding: 10px 10px;

        .btn_wrapper {
          position: relative;

          &:hover .tooltip_wrapper {
            opacity: 1;
          }

          .action_btn {
            @include flexDisplay(center, center);
            width: 100%;
            height: 100%;
            font-size: $txt_size3;
            border-radius: 10px;
            font-family: $fnt_spc2;
            font-weight: bold;
            color: var(--txt_clr1);

            &:hover {
              background-color: var(--acc_clr_shd);
              color: var(--acc_clr2);
            }
          }

          .tooltip_wrapper {
            @include position(absolute, left, top, 50%, 50px);
            background-color: var(--txt_clr1);
            color: var(--bg_clr3);
            pointer-events: none;
            font-size: $txt_size2;
            padding: 10px;
            text-align: center;
            border-radius: 0 0 5px 5px;
            opacity: 0;
            transition: opacity ease 0.3s;
            white-space: pre;
            z-index: 1;

            &:after {
              content: '';
              @include position(absolute, left, top, 50%, -16px);
              border-top: 10px solid transparent;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-bottom: 10px solid var(--txt_clr1);
            }
          }
        }
      }

      .post_editor {
        padding: 10px 10px 0;
        width: 100%;
        height: 48vh;
        font-size: $txt_size2;
        color: var(--txt_clr3);
        font-family: $fnt_spc1;
        line-height: 2.8rem;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: var(--bg_clr1);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--txt_clr1);
        }
      }
    }
  }

  .editor_footer {
    max-width: $maxWidth;
    margin: 10px auto;
    @include flexDisplay(center, space-between);
    padding: 0 15px;

    .publish_btn {
      margin-right: 10px;
    }
  }
}

.pub_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(10px);
  @include flexDisplay(center, center);
  transition: all ease-out 0.3s;
  padding: 0px 10px;
  z-index: 1;

  &.hide {
    opacity: 0;
    z-index: -1;
  }

  .opts_wrapper {
    width: 500px;
    background-color: var(--bg_clr3);
    box-shadow: 0 0 5px var(--shw_clr_shd);
    border-radius: 10px;
    padding: 20px;

    .opt_wrapper {
      &:first-of-type {
        margin-bottom: 15px;
      }

      h3 {
        padding-bottom: 5px;
        font-family: $fnt_hdg1;
        font-size: $txt_size2;
        color: var(--txt_clr1);
      }

      .check_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.3rem;

        .check_opt {
          label {
            font-family: $fnt_spc2;
            padding-left: 10px;
            cursor: pointer;
            text-transform: capitalize;
            position: relative;
            transition: all ease 0.3s;

            &:hover {
              color: var(--acc_clr);

              &::before {
                background-color: var(--acc_clr);
              }
            }

            &:after,
            &:before {
              content: '';
              transition: all ease 0.3s;
            }

            &:after {
              width: 1rem;
              height: 1rem;
              box-shadow: 0 0 3px var(--txt_clr1);
              border-radius: 0.3rem;
              @include position(absolute, left, top, -10px, 50%);
            }

            &:before {
              @include position(absolute, left, top, -9px, 50%);
              width: 0.8rem;
              height: 0.8rem;
              background-color: var(--acc_clr);
              border-radius: 50%;
              opacity: 0;
            }
          }

          input {
            visibility: hidden;

            &:checked + label {
              color: var(--acc_clr);
            }

            &:checked + label:before {
              opacity: 1;
            }
          }
        }
      }

      textarea {
        box-shadow: 0 0 3px var(--shw_clr_shd);
        margin-bottom: 10px;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        color: var(--txt_clr3);
      }
    }
  }
}
