$padding: 15px;
$brd_radius: 10px;
$brd_clr: #9c9c9cbd;

@mixin containerDef {
  border-radius: $brd_radius;
  overflow: hidden;
  border: 2px solid var(--brd_clr);
}

%template_about_poster {
  padding: $padding;
  @include containerDef();
  background-color: var(--bg_clr1);
  overflow: visible;
  margin-bottom: 20px;

  .top {
    @include flexDisplay(flex-end, flex-start);
    margin-top: -20px;
    margin-bottom: 10px;

    &:hover {
      .author {
        color: var(--acc_clr);
      }
    }

    .img_wrapper {
      width: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .author {
      color: var(--txt_clr2);
      font-family: $fnt_spc1;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .follow_btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 20px 0;
  }

  .author_about {
    font-size: 1.3rem;
    line-height: 2rem;
    color: var(--txt_clr1);
    letter-spacing: 0.1rem;
    margin-bottom: 20px;
  }

  .opts {
    .opt {
      margin-bottom: 10px;
      color: var(--txt_clr1);
      line-height: 2rem;

      &:last-of-type {
        margin-bottom: 0px;
      }

      h3 {
        font-weight: 500;
        font-family: $fnt_hdg2;
        font-size: $txt_size2;
      }

      p {
        font-size: 1.3rem;
      }
    }
  }
}

%template_author_posts {
  @include containerDef();
  background-color: var(--bg_clr1);

  h3 {
    font-family: $fnt_hdg2;
    font-size: $txt_size3;
    padding: $padding;

    a {
      font-family: inherit;
      color: var(--acc_clr);
    }
  }

  .post {
    display: block;
    color: var(--txt_clr1);
    @include flexDisplay(flex-start, center, column);
    padding: $padding;
    border-top: 1px solid var(--brd_clr);
    font-size: 1.5rem;
    transition: all ease $fast_trans;

    &:hover {
      background-color: var(--bg_clr3);
      .post_title {
        color: var(--acc_clr);
      }
    }

    &_title {
      transition: all ease $fast_trans;
      margin-bottom: 10px;
      line-height: 2.3rem;
    }

    &_category {
      @include category;
      font-size: $txt_size1;
    }
  }
}

#single_post_sect {
  padding: 10px 0;
  .center_sect {
    max-width: 1300px;
  }
  @include mediaQueries(min, 800px) {
    .center_sect {
      display: grid;
      grid-template-columns: 1fr 12fr;
      grid-column-gap: 15px;
      align-items: flex-start;
    }
  }

  @include mediaQueries(min, 1000px) {
    .center_sect {
      grid-template-columns: 1fr 8fr 3fr;
    }
  }

  .empty_post {
    @include position(absolute, left, top, 50%, 50%);
    text-align: center;
    width: 100%;

    span {
      font-size: 5rem;
      color: $dlt_clr;
    }

    h3 {
      font-size: 3rem;
      font-family: $fnt_spc1;
      color: var(--txt_clr1);
    }
  }

  .center_sect.dummy {
    .skeleton_anim {
      animation: bgAnim 1s ease-in-out infinite;
    }

    .skeleton_anim2 {
      animation: bgAnim2 1s ease-in-out infinite;
    }

    .skeleton_anim3 {
      animation: bgAnim3 1s ease-in-out infinite;
    }

    span {
      display: inline-block;
    }

    .left_side,
    .fixed_bottom {
      .icon_wrapper {
        width: 2.7rem;
        height: 2.7rem;
        border-radius: 5px;
        background-color: var(--bg_clr2);
        box-shadow: 0px 0px 2px 2px var(--brd_clr);
      }
    }

    .mid_side {
      .mid_side_head {
        margin-bottom: 50px;

        .main_img {
          height: 40vh;
          background-color: var(--bg_clr2);
        }

        .poster {
          .img_wrapper {
            width: 40px;
            height: 40px;
            background-color: var(--bg_clr2);
          }

          .info {
            span {
              width: 10rem;
              height: 15px;
              background-color: var(--bg_clr2);
              border-radius: 2px;
            }

            p {
              width: 7.5rem;
              height: 10px;
              background-color: var(--bg_clr2);
              border-radius: 2px;
            }
          }
        }

        .main_heading {
          p {
            height: 30px;
            width: 70%;
            margin-bottom: 15px;
            border-radius: 2px;

            &:first-child {
              width: 100%;
            }
          }
        }
      }

      .main_post_wrapper {
        height: 30vh;
        background-color: var(--bg_clr2);
      }
    }

    .right_side {
      .about_poster {
        background-color: var(--bg_clr3);
      }

      .img_wrapper {
        width: 50px;
        height: 50px;
        background-color: var(--bg_clr2);
      }

      .author {
        width: 7rem;
        height: 10px;
        border-radius: 2px;
      }

      .follow_btn {
        height: 30px;
        background-color: var(--bg_clr2);
        border-radius: 2px;
      }

      .author_about {
        span {
          display: block;
          background-color: var(--bg_clr2);
          width: 100%;
          height: 8px;
          margin-bottom: 5px;
          border-radius: 2px;

          &:last-child {
            width: 70%;
          }
        }
      }
    }
  }

  .left_side {
    display: none;
    @include mediaQueries(min, 800px) {
      @include flexDisplay(center, flex-start, column);
      position: sticky;
      top: 72px;

      .icon_wrapper {
        @include flexDisplay(center, center, column);
        margin: 20px 0;
        font-size: $txt_size4;
        transition: all ease $fmid_trans;
        color: var(--txt_clr1);

        &.like.active {
          color: #ff0000;
        }

        &.comment:hover {
          color: var(--spc_clr2);
        }

        &.like:hover {
          color: #ff0000;
        }

        &.bookmark:hover {
          color: var(--acc_clr);
        }

        .count_wrapper {
          font-size: $txt_size2;
          margin-top: 10px;
          color: var(--txt_clr1);
        }
      }

      .share_opts_btn {
        margin: 20px 0;
        font-size: $txt_size2;
        border-radius: 50%;
        padding: 10px;
        transition: all ease $fmid_trans;
        color: var(--txt_clr1);

        &:hover {
          background-color: var(--bg_clr1);
        }
      }
    }
  }

  .mid_side {
    .top_super_wrapper {
      @include containerDef();
      background-color: var(--bg_clr3);
      margin-bottom: 10px;

      .comments_super_wrapper {
        padding-bottom: $padding;

        h3 {
          font-family: $fnt_hdg1;
          font-size: $txt_size2;
          margin-bottom: 20px;
          padding: $padding;
        }

        .make_comment_wrapper {
          @include flexDisplay(flex-start, flex-start);
          padding: 0 $padding;

          .img_wrapper {
            width: 30px;
            border-radius: 50%;
            padding: 1px;
            background-color: var(--txt_clr3);
            margin-right: 15px;

            img {
              border-radius: 50%;
            }
          }
        }

        .comments_wrapper {
          padding-right: $padding;
        }

        .super_comment_wrapper {
          margin-top: 10px;
          position: relative;
          margin-left: 20px;

          &::before {
            content: '';
            @include position(absolute, left, top, 13px, 0px);
            width: 1px;
            height: 100%;
            background-color: $brd_clr;
          }

          .comment_wrapper {
            @include flexDisplay(flex-start, flex-start);

            .img_wrapper {
              display: block;
              width: 30px;
              border-radius: 50%;
              padding: 1px;
              background-color: var(--txt_clr3);
              margin-right: 10px;
              box-shadow: 0 8px 0 3px var(--bg_clr3);

              img {
                border-radius: 50%;
              }
            }

            .wrapper {
              width: 100%;

              .main_comment {
                border: 2px solid var(--brd_clr);
                padding: 10px;
                border-radius: 5px;

                .top {
                  margin-bottom: 15px;
                  color: var(--txt_clr1);
                  @include flexDisplay(center, flex-start);

                  a {
                    font-family: $fnt_hdg1;
                    font-size: 1.3rem;
                    color: var(--txt_clr1);
                    margin-right: 5px;
                    font-weight: 500;
                    transition: all ease $vfast_trans;

                    &:hover {
                      color: var(--txt_clr2);
                    }
                  }

                  .dot_seperator {
                    margin-right: 5px;
                    font-size: $txt_size2;
                    position: relative;
                    top: 2px;
                  }

                  .created_at {
                    font-family: $fnt_spc2;
                  }
                }

                .main {
                  font-size: 1.5rem;
                  line-height: 2.5rem;
                  letter-spacing: 0.1rem;
                }
              }
              .btns_wrapper {
                margin-top: 5px;
                @include flexDisplay(center, flex-start);

                button {
                  padding: 10px;
                  margin-right: 5px;
                  font-size: $txt_size2;
                  border-radius: 5px;
                  color: var(--txt_clr1);
                  @include flexDisplay(center, center);
                  transition: all ease $fast_trans;

                  &.like_btn {
                    color: #ff0000;

                    span {
                      color: var(--txt_clr1);
                    }
                  }

                  &.del_btn {
                    color: $dlt_clr;
                  }

                  &.edit_btn {
                    color: var(--acc_clr);
                  }

                  &:hover {
                    background-color: var(--bg_clr2);
                  }

                  span {
                    margin-left: 5px;
                    font-size: 1.2rem;
                  }
                }
              }
            }
          }
        }
      }
    }

    .read_next_sect {
      @include containerDef();
      background-color: var(--bg_clr1);
      padding: $padding;
      margin-bottom: 20px;

      .empty {
        text-align: center;
        font-size: $txt_size3;
        font-family: $fnt_hdg2;
        color: var(--txt_clr1);
      }

      h2 {
        font-size: $txt_size3;
        margin-bottom: 10px;
        font-family: $fnt_hdg1;
      }

      .read_post {
        @include flexDisplay(center, flex-start);
        padding: 10px 0;
        transition: all ease $fast_trans;
        color: var(--txt_clr2);
        border-bottom: 1.5px dashed var(--shw_clr_shd);

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          color: var(--acc_clr);

          .img_wrapper {
            background-color: var(--acc_clr);
          }
        }

        .img_wrapper {
          width: 50px;
          border-radius: 50%;
          padding: 1px;
          background-color: var(--txt_clr3);
          transition: all ease $fast_trans;

          img {
            border-radius: 50%;
          }
        }

        .post_info {
          margin-left: 15px;

          h3 {
            font-family: $fnt_hdg2;
            font-size: $txt_size3;
          }

          .more_info {
            font-family: $fnt_spc2;
          }
        }
      }
    }

    .poster_more {
      @include mediaQueries(min, 1000px) {
        display: none;
      }

      .about_poster {
        @extend %template_about_poster;
      }

      .author_posts {
        @extend %template_author_posts;
      }
    }

    .fixed_bottom {
      @include position(fixed, left, bottom, 0px, 0px);
      @include flexDisplay(center, center);
      background-color: var(--bg_clr1);
      width: 100%;
      padding: 15px 0;
      border-radius: 10px 10px 0 0;
      border-top: 3px solid var(--brd_clr);
      @include mediaQueries(min, 800px) {
        display: none;
      }

      .icon_wrapper {
        @include flexDisplay(center, center);
        margin: 0 20px;
        font-size: $txt_size4;
        transition: all ease $fmid_trans;
        color: var(--txt_clr1);

        &.like.active {
          color: #ff0000;
        }

        &.comment:hover {
          color: var(--spc_clr2);
        }

        &.like:hover {
          color: #ff0000;
        }

        &.bookmark:hover {
          color: var(--acc_clr);
        }

        .count_wrapper {
          font-size: $txt_size2;
          margin-left: 10px;
          color: var(--txt_clr1);
        }
      }

      .share_opts_btn {
        margin: 0 20px;
        font-size: $txt_size2;
        border-radius: 50%;
        padding: 10px;
        transition: all ease $fmid_trans;
        color: var(--txt_clr1);

        &:hover {
          background-color: var(--bg_clr2);
        }
      }
    }
  }

  .right_side {
    display: none;

    @include mediaQueries(min, 1000px) {
      display: block;
      position: sticky;
      top: 72px;
    }

    .about_poster {
      @extend %template_about_poster;
    }

    .author_posts {
      @extend %template_author_posts;
    }
  }
}

.mid_side_head {
  .poster {
    padding: $padding;
    @include flexDisplay(center, flex-start);

    &_avi {
      width: 30px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .info {
      a {
        font-size: $txt_size2;
        font-family: $fnt_hdg1;
        font-weight: 600;
        color: var(--txt_clr2);
      }
      p {
        margin-top: 5px;
        font-size: $txt_size;
        color: var(--txt_clr1);
        font-family: $fnt_spc2;
      }
    }
  }

  .main_heading {
    font-family: $fnt_hdg1;
    font-size: 4rem;
    color: var(--txt_clr3);
    padding: 0 $padding;
  }

  .category {
    @include category;
    margin: 10px;
    display: inline-block;
  }
}

.main_post_wrapper {
  padding: $padding;
  font-size: $txt_size2;
  font-weight: 300;
  line-height: 2.7rem;
  color: var(--txt_clr3);
  border-bottom: 1.5px solid var(--brd_clr);

  p,
  h2,
  .img_wrapper,
  ul,
  ol {
    margin-bottom: 10px;
    white-space: pre-wrap;
  }

  .img_wrapper {
    border-radius: $brd_radius;
  }

  h2 {
    margin-top: 20px;
  }

  ul,
  ol {
    padding-left: 30px;
  }

  a {
    color: var(--acc_clr);
    text-decoration: underline;
  }
}

.comment_form {
  @include flexDisplay(center, center, column);

  textarea {
    width: 100%;
    height: 200px;
    resize: none;
    border: 2px solid var(--brd_clr);
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: all ease $vfast_trans;
    color: var(--txt_clr3);
    font-family: $fnt_spc1;
    line-height: 2.5rem;

    &:focus-within {
      border-color: var(--acc_clr);
    }
  }

  .btns_wrapper {
    align-self: flex-start;
    width: 100%;

    button {
      width: fit-content;
      margin-top: 10px;
      padding: 10px;
      margin-bottom: 10px;

      &.cancel_btn {
        font-family: $fnt_spc2;
        font-size: 1.5rem;
        margin-left: 15px;
        letter-spacing: 0.1rem;
        background-color: var(--bg_clr1);
        border-radius: 8px;
        transition: all ease $fmid_trans;

        &:hover {
          background-color: var(--bg_clr2);
        }
      }
    }
  }
}

.super_comment_wrapper .comment_form {
  margin-left: 50px;
  margin-top: 10px;
}

.make_comment_wrapper .comment_form {
  width: 100%;
}
