$padding: 10px;

.empty_info {
  @include position(absolute, left, top, 50%, 50%);
  text-align: center;
  width: 100%;

  span {
    font-size: 5rem;
    color: $dlt_clr;
  }

  h3 {
    font-size: 3rem;
    font-family: $fnt_spc1;
    color: var(--txt_clr1);
  }
}

.head_overlay {
  height: 120px;
}

.profile_wrapper {
  .profile_header {
    background-color: var(--bg_clr3);
    padding: $padding;
    @include containerDef;
    overflow: visible;
    margin-top: -60px;

    .top {
      position: relative;

      .img_wrapper {
        width: 50px;
        height: 55px;
        border-radius: 50%;
        padding: 5px;
        box-sizing: content-box;
        @include position(absolute, left, top, 0px, -40px);

        @include mediaQueries(min, 800px) {
          width: 100px;
          height: 110px;
          padding: 7px;
          @include position(absolute, left, top, 50%, -60px);
        }

        img {
          border-radius: 50%;
          height: 100%;
          object-fit: cover;
          object-position: 0 0.1px;
        }
      }

      .right_side {
        width: 100%;
        @include flexDisplay(center, flex-end);

        .spc_btn {
          padding: 5px 15px;
          border-radius: 5px;
        }

        .more_opts {
          margin-left: 10px;
          font-size: 2.3rem;
          color: var(--txt_clr1);
          transition: all ease $fmid_trans;
          padding: 5px;
          border-radius: 5px;
          @include flexDisplay(center, center);

          &:hover {
            background-color: var(--bg_clr2);
            color: var(--txt_clr3);
          }
        }
      }
    }

    .mid {
      margin-top: 10px;
      @include mediaQueries(min, 800px) {
        text-align: center;
        max-width: 700px;
        margin: 50px auto 0;
      }

      .user_info {
        .user_name {
          text-transform: capitalize;
          font-size: $txt_size3;
          font-family: $fnt_hdg1;
          margin-bottom: 10px;
        }

        .about_user {
          font-size: 1.5rem;
          line-height: 2.2rem;
          letter-spacing: 0.1rem;
          margin-bottom: 15px;
        }
      }

      .more_info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5px;
        @include mediaQueries(max, 300px) {
          grid-template-columns: 1fr;
        }
        @include mediaQueries(min, 800px) {
          justify-items: center;
        }

        .more_info_opt {
          @include flexDisplay(center, flex-start);
          margin-bottom: 10px;
          color: var(--txt_clr1);
          font-size: 1.2em;
          line-height: 2.2rem;

          .icon_wrapper {
            // font-size: $txt_size3;
            margin-right: 10px;
          }

          a {
            color: var(--txt_clr1);
            @include flexDisplay(center, flex-start);

            &:hover {
              color: var(--acc_clr);
            }
          }
        }
      }

      .socials {
        @include flexDisplay(center, center);

        .social_link {
          padding: 5px;
          font-size: 2rem;
          color: var(--txt_clr1);

          &:hover {
            color: var(--acc_clr);
          }
        }
      }
    }

    .bottom {
      @include mediaQueries(min, 800px) {
        display: none;
      }
      &_opt {
        @include flexDisplay(center, flex-start);
        margin-top: 10px;
        color: var(--txt_clr1);

        .icon_wrapper {
          margin-right: 10px;
          font-size: 1.5rem;
        }

        span {
          font-size: 1.3rem;
        }
      }
    }

    margin-bottom: 15px;
  }

  .user_posts {
    @include mediaQueries(min, 800px) {
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 10px;
      align-items: flex-start;
    }

    aside {
      display: none;
      @include mediaQueries(min, 800px) {
        @include containerDef;
        display: block;
        background-color: var(--bg_clr3);
        position: sticky;
        top: 80px;

        .side_opt {
          padding: 10px 15px;
          @include flexDisplay(center, flex-start);
          color: var(--txt_clr1);

          .icon_wrapper {
            margin-right: 10px;
            font-size: 1.6rem;
          }

          span {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}

.dummy_profile {
  .skeleton_anim {
    animation: bgAnim 1s ease-in-out infinite;
  }

  .skeleton_anim2 {
    animation: bgAnim2 1s ease-in-out infinite;
  }

  .profile_wrapper {
    .img_wrapper {
      background-color: var(--bg_clr2);
    }

    .dum_btn {
      @include skeletonTemp(70px, 20px, 5px);
    }

    .user_name span {
      @include skeletonTemp(80px, 30px, 3px);
      display: block;
      @include position(relative, left, top, 50%, 0px);
    }

    .about_user p {
      @include skeletonTemp(100%, 8px, 3px);
      margin-top: 5px;
      @include position(relative, left, top, 50%, 0px);

      &:nth-child(2) {
        width: 80%;
      }

      &:last-child {
        width: 60%;
      }
    }

    .dum_info_opt {
      width: 50%;
      height: 15px;
      border-radius: 3px;
      background-color: var(--bg_clr2);
    }

    .bottom {
      margin-top: 20px;
      .dum_info_opt {
        margin-top: 8px;
        width: 20%;

        &:first-child {
          width: 30%;
        }
      }
    }

    .side_opts {
      height: 120px;
    }

    .main {
      height: 300px;
      background-color: var(--bg_clr3);
      margin-bottom: 20px;
      border-radius: 10px;
      border: 2px solid var(--brd_clr);
    }
  }
}
